span{
  font-size: 12px;
  color: rgb(175, 175, 180);
}
.all{
  padding: 10px;
  display: inline-block;
  width: 200px;
}
select{
  height: 28px;
  width: 140px;
}
.line{
  padding-left: 10px;
  font-size: 13px;
  color: rgb(134, 135, 139);
  margin-left: 190px;
}
.second-line{
  padding-left: 10px;
  font-size: 13px;
}
.inputStyle{
  /* margin-left: 60px; */
  height: 28px;
  width: 200px;
}
.ant-btn{
  size: small;
  display: table-cell;
  height: 28px;
  margin-top: 10px;
}
.ant-btn span{
  color: black;
  font-size: 12px;
  display: table-cell;
}
.twoButton{
  display: inline-block;
}

.ant-radio-button-wrapper span{
  color: #000;
}

.containnet{
  padding: 15px;
 /* width: 50%; */
  display: inline-block;
  background-color: #f2f2f2;
}

.con{
  padding: 0 5px 0 5px;
}

.buttonButtom{
  background-color: azure;
  margin: 20px;
}